# Spotify OAuth (https://developer.spotify.com/dashboard)
NUXT_SPOTIFY_CLIENT_ID=
NUXT_SPOTIFY_CLIENT_SECRET=
NUXT_SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/spotify/callback

# Admin
NUXT_ADMIN_PASSWORD=changeme

# Database
NUXT_DATABASE_PATH=.data/production.sqlite

# App
NUXT_PUBLIC_BASE_URL=http://localhost:3000
